<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-P4cPJ_KzRA9nOBKlVUBcLm07M3Nod2o</string>
	<key>GCM_SENDER_ID</key>
	<string>940934180446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.afsbot</string>
	<key>PROJECT_ID</key>
	<string>afsbot-6f20d</string>
	<key>STORAGE_BUCKET</key>
	<string>afsbot-6f20d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940934180446:ios:d03dabda6deb7561f38ecf</string>
</dict>
</plist>